<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <customErrors mode="Off" />
    <trace enabled="true" localOnly="false" />
    <authentication mode="Forms">
      <forms loginUrl="/login" timeout="2880" requireSSL="false" />
    </authentication>
    <pages enableViewStateMac="false" />
    <sessionState timeout="120" />
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=db.prod.internal;Database=AppDB;User Id=sa;Password=Pr0dP@ss!;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
